@model List<eticaretsitesi.Models.Product>
<!-- Vesitable Shop Start-->
<div class="container-fluid vesitable py-5">
    <div class="container py-5">
        <h1 class="mb-0">Yeni Ürünler</h1>
        <div class="owl-carousel vegetable-carousel justify-content-center">
            <!--dongu baslangıç-->
            @foreach(var item in Model)
            {      
            <div class="border border-primary rounded position-relative vesitable-item">
                <div class="vesitable-img">
                    <img src="/Product_Image/@item.ProductPicture" class="img-fluid w-100 rounded-top" alt="">
                </div>
                <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">@item.ProductName</div>
                <div class="p-4 rounded-bottom">
                    <h4>@item.CategoryId</h4>
                    <p>@item.Comment</p>
                    <div class="d-flex justify-content-between flex-lg-wrap">
                        <p class="text-dark fs-5 fw-bold mb-0">@item.ProductPrice</p>
                        <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Sepette Ekle</a>
                    </div>
                </div>
            </div>
            }
            <!--dongu bitiş-->
            
        </div>
    </div>
</div>
<!-- Vesitable Shop End -->